@import url(https://db.onlinewebfonts.com/c/b78d933f8aa6b9284c1d3efd3db0a9b9?family=Avenir-Black);
/* @import url('https://fonts.cdnfonts.com/css/avenir'); */
.marquee{
    color: #fff;
    font-size: 16px;
}
.marq{
    height: 50px;
    padding-top: 10px;
    background: #343434;
}
.marq button{
    transform: translate(1290px,-31px);
    background: #343434;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    width: 40px;
    height: 30px;

}
.navbar{
    padding: 20px;
    background: #1d1d1d;
}
#link{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Avenir-Black";
}
#link:hover{
    color:#82E600 ;
}
.icons img{
    width: 20px;
    height: 20px;
}
.hassle{
    width: 400px;
    height: 80px;
}
.shipping{
    background: #fafafa;
    border-radius: 15px;
}
.audio{
    width: 620px;
    height: 350px;
    background-image: url(Images/930-490.jpg);
    background-size: cover;
    border-radius: 10px;
}
.personal{
    width: 620px;
    height: 350px;
    background-image: url(Images/VCG211288602089.png);
    background-size: cover;
    border-radius: 10px;
}
.power{
    width: 620px;
    height: 350px;
    background-image: url(Images/ad-power.jpg);
    background-size: cover;
    border-radius: 10px;
}
.smart{
    width: 620px;
    height: 350px;
    background-image: url(Images/20231127-105044.jpg);
    background-size: cover;
    border-radius: 10px;
}
.flex{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.words{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
