@import url(https://db.onlinewebfonts.com/c/b78d933f8aa6b9284c1d3efd3db0a9b9?family=Avenir-Black);
/* @import url('https://fonts.cdnfonts.com/css/avenir'); */
.marquee{
    color: #fff;
    font-size: 16px;
}
.marq{
    height: 50px;
    padding-top: 10px;
    background: #343434;
}
.marq button{
    transform: translate(1290px,-31px);
    background: #343434;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    width: 40px;
    height: 30px;

}
.navbar{
    padding: 20px;
    background: #1d1d1d;
}
#link{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Avenir-Black";
}
#link:hover{
    color:#82E600 ;
}
.icons img{
    width: 20px;
    height: 20px;
}
.hassle{
    width: 400px;
    height: 80px;
}
.shipping{
    background: #fafafa;
    border-radius: 15px;
}
.audio{
    width: 620px;
    height: 350px;
    background-image: url(Images/930-490.jpg);
    background-size: cover;
    border-radius: 10px;
}
.personal{
    width: 620px;
    height: 350px;
    background-image: url(Images/VCG211288602089.png);
    background-size: cover;
    border-radius: 10px;
}
.power{
    width: 620px;
    height: 350px;
    background-image: url(Images/ad-power.jpg);
    background-size: cover;
    border-radius: 10px;
}
.smart{
    width: 620px;
    height: 350px;
    background-image: url(Images/20231127-105044.jpg);
    background-size: cover;
    border-radius: 10px;
}
.flex{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.words{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.ceer a{
    color: #111;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-family:"Avenir-Black";
}
.bttn{
    background: #d5d5d5;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transform: translate(30px,300px);
}
.bttn2{
    background: #d5d5d5;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transform: translate(-30px,300px);
}
.bttn3{
    background-color: rgba(213,213,213,0.1);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transform: translate(30px,250px);
}
.bttn4{
    background: #d5d5d5;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: rgba(213,213,213,0.1);
    transform: translate(-30px,250px);
}
.backo{
    background-color: #f8f8f8;
}
#anime{
    height: 10px;
}
#anime a{
    color: #111;
    display: block;
    width: 18rem;
    overflow: hidden;
    /* overflow-y: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family:"Avenir-Black";
}
#anime:hover a{
    animation: title 0.3s forwards;
    text-overflow: clip;
}
@keyframes title{
    from{
        transform: translateX(0px);
    }
    to{
        /* transform: translateX(-50px); */
    }
}
.voice{
    font-size: 12px;
}
#detaimg{
    width: 18px;
    height: 18px;
}
.review{
    color: #111;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    font-family:"Avenir-Black";
}
.price{
    color: #111;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    font-family:"Avenir-Black";
}
.oldprice{
    color: gray;
    font-size: 13px;
    text-decoration:line-through;
}
.awards{
    height: 425px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(Images/new-arrival-l.jpg);
}
.green{
    height: 22px;
    width: 115px;
    color: #fff;
    font-size: 12px;
    background: #82e600;
    border-radius: 20px;
    padding-top: 2px;
    transform: translate(1.8px,2.5px);
    font-family: Arial, sans-serif;
}
.outer{
    border-radius: 20px;
    height: 31px;
    width: 123px;
    border: 2px solid #82e600;
    transform: translate(-5px,-490px);
}
.trust{
    height: 420px;
    background-size: contain ;
    background-repeat: no-repeat;
    background-image: url(Images/banner-wide-l.jpg);
}
.from{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    font-family:"Avenir-Black";
}
.whybuy{
    background: #f8f8f8;
}
.customerserv{
    width: 35%;
}
.customer{
    width: 30%;
    /* height: 600px; */
}
.access{
    height: 500px;
    background: #fff;
    border-radius: 15px;
    background-size: contain;
    background-image: url(Images/cs-women-s.png);
}
.offline{
    height: 250px;
    background: #fff;
    border-radius: 15px;
    background-size: contain;
    background-image: url(Images/cart-care-s.png);
}
.wording{
    font-size:16px;
    font-weight:400;
    font-family:"Avenir-Black";
}
.year{
    height: 245px;
    border-radius: 15px;
    background: #fff;
    background-size: contain;
    background-image: url(Images/1-year-warranty-s.png);

}
.free{
    height: 245px;
    background: #fff;
    border-radius: 15px;
    background-size: contain;
    background-image: url(Images/free-shipping-s.png);

}
.coin{
    height: 245px;
    background: #fff;
    border-radius: 15px;
    background-size: contain;
    background-image: url(Images/point-s.png);
}
.authent{
    height: 250px;
    background: #fff;
    border-radius: 15px;
    background-size: contain;
    background-image: url(Images/authenticity-&-best-price-s.png);
}
.club{
    height: 500px;
    background: #fff;
    border-radius: 15px;
}
.oraimoclub{
    color: #111;
    font-size: 36px;
    font-weight: 400;
    font-family:"Avenir-Black";
}
.follow{
    height: 33px;
    width: 100px;
    color: #fff;
    font-size: 16px;
    font-family:"Avenir-Black";
    background: #000;
}
.hashoraimo{
    font-size: 20px;
    font-weight: 400;
}
.newsletter{
    color: #111;
    font-size: 24px;
    font-weight: 400;
    font-family:"Avenir-Black";
}
.inputype{
    width: 800px; 
    outline: none;
    transform: translate(250px,30px); 
}
.button2 img{
    width: 30px;
    height: 30px;
}
.button2{
    width: 60px;
    height: 58px;
    background: #111;
    border: none;
    border-radius: 0px 25px 25px 0px;
    transform: translate(200px,28px); 
}
.getthe{
    color: #333;
    font-size: 19px;
    font-weight: 400;
}
.bgbg{
    background: #191919;
}
.ffus{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family:"Avenir-Black";
}